  <div class="users-container">
  <h2 class="page-title">{{ 'ADMIN.MANAGE' | translate }} {{ 'USERS.TITLE' | translate }}</h2>
  <div *ngIf="successMessage" class="success-message mb-2">{{ successMessage | translate }}</div>
  <div *ngIf="errorMessage" class="error-message">
    <p class="text-red-700">{{ errorMessage | translate }}</p>
  </div>
  <div class="overflow-x-auto">
    <table class="users-table">
      <thead>
        <tr class="">
          <th class="py-2 px-4 border-b">{{ 'USERS.NAME' | translate }}</th>
          <th class="py-2 px-4 border-b">{{ 'USERS.USERNAME' | translate }}</th>
          <th class="py-2 px-4 border-b">{{ 'USERS.EMAIL' | translate }}</th>
          <th class="py-2 px-4 border-b">{{ 'ADMIN.ROLES' | translate }}</th>
          <th class="py-2 px-4 border-b">{{ 'ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="hover:bg-gray-50">
          <td class="py-2 px-4 border-b">{{ user.name }}</td>
          <td class="py-2 px-4 border-b">{{ user.username }}</td>
          <td class="py-2 px-4 border-b">{{ user.email }}</td>
          <td class="py-2 px-4 border-b">
            <ng-container *ngFor="let role of user.roles; let last = last">
              {{ role | dbTranslate | translate}}
              <span *ngIf="!last">, </span>
            </ng-container>
          </td>
          <td class="py-2 px-4 border-b">
            <button (click)="editUser(user.id)"
                    class="btn btn-warning btn-sm me-3">
              {{ 'EDIT.ACTION_NAME' | translate }}
            </button>

            <button *ngIf="currentUserId !== null && user.id !== currentUserId"
                    (click)="openDeleteModal(user)"
                    class="btn btn-danger">
              {{ 'DELETE.ACTION_NAME' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p class="text-center">
  <a [routerLink]="['/']" class="page-link">{{ 'BACK_TO' | translate }} {{ 'HOME.TITLE' | translate }}</a>
</p>

<app-user-form *ngIf="showEditModal"
               [userToEdit]="userToEdit!"
               (close)="onEditModalClose($event)">
</app-user-form>

<div *ngIf="showDeleteModal" class="modal-overlay">
  <div class="modal-content animate-in">
    <h3>{{ 'DELETE.CONFIRM' | translate }}</h3>
    <p>{{ 'DELETE.DELETE_USER_MESSAGE' | translate }} <strong>{{ userToDelete?.username }}</strong>?</p>

    <div class="modal-actions">
      <button class="btn btn-secondary" (click)="closeDeleteModal()">{{ 'CANCEL' | translate }}</button>
      <button class="btn btn-danger" (click)="confirmDelete()">{{ 'DELETE.ACTION_NAME' | translate }}</button>
    </div>
  </div>
</div>
