<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()" class="login-form">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="login-btn">Login</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
  <div *ngIf="loginService.isLoggedIn() | async" class="success">
    Success! You are logged in as {{ loginService.getUsername() | async }}.
    <div *ngIf="ulogas?.length">Roles: {{ ulogas.join(', ') }}</div>
  </div>
  <p class="forgot-password-link mt-4 text-center text-gray-600">
    <a [routerLink]="['/reset-password']" class="text-blue-600 hover:text-blue-800 hover:underline">Forgot Password?</a>
  </p>
  <p class="register-link text-center mt-4 text-gray-600">
    Don't have an account? <a [routerLink]="['/register']" class="text-blue hover:text-blue-800 hover:underline">Register</a>
  </p>
</div>
