<div class="modal-overlay">
  <div class="modal-content">

    <h5>{{ (transaction ? 'EDIT.ACTION_NAME' : 'ADD.ACTION_NAME') | translate }} {{ 'TRANSACTIONS.TITLE' | translate }}</h5>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <label>{{ 'SECURITIES.TITLE' | translate }}</label>
      <select formControlName="hvCode" class="form-select">
        <option *ngFor="let s of securities" [value]="s.code">
          {{ s.code }}
        </option>
      </select>

      <label>{{ 'TRANSACTIONS.TYPE' | translate }}</label>
      <select formControlName="typeTransaction" class="form-select">
        <option value="Купување">{{ 'TRANSACTIONS.BUY' | translate }}</option>
        <option value="Продавање">{{ 'TRANSACTIONS.SELL' | translate }}</option>
      </select>

      <label>{{ 'QUANTITY' | translate }}</label>
      <input type="number" formControlName="sharesQuantity" class="form-control">
      <div *ngIf="sellLimitExceeded" class="text-danger mt-1">
        {{ 'TRANSACTIONS.SELL_MESSAGE' | translate }} {{ ownedShares }} {{ 'SHARES' | translate }}.
      </div>
      <div *ngIf="buyLimitExceeded" class="text-danger mt-1">
        {{ 'TRANSACTIONS.BUY_MESSAGE' | translate }} {{ remainingShares }} {{ 'SHARES' | translate }}.
      </div>

      <label>{{'PRICE' | translate }}</label>
      <input
        type="number"
        formControlName="sharesUnitPrice"
        class="form-control"/>
      <div *ngIf="priceWarning" class="price-warning alert alert-warning mt-2">
        {{ priceWarning }}
      </div>

      <div class="small mt-1" *ngIf="dailyPrices">
        {{ 'TRANSACTIONS.ENTERED_PRICE' | translate }}:
        <strong>{{ form.get('sharesUnitPrice')?.value | number:'1.2-2' }} {{ 'CURRENCY.MKD' | translate }} </strong>
      </div>

      <div class="mt-3 border-top pt-2">

        <div class="d-flex align-items-center mb-1">
          <span class="text-muted small">{{ 'TRANSACTIONS.COMMISSIONS' | translate }}</span>

          <i class="bi bi-question-circle ms-2 text-secondary"
             data-bs-toggle="tooltip"
             data-bs-placement="right"
             title="{{'TRANSACTIONS.COMMISSION_MESSAGE' | translate}}.">
          </i>
        </div>

        <div class="small">
          {{'TRANSACTIONS.STOCK_EXCHANGE' | translate}}:
          <span class="float-end">
            {{ stockExchangeFee | number:'1.2-2' }} {{ 'CURRENCY.MKD' | translate }}
          </span>
        </div>

        <div class="small">
          {{'TRANSACTIONS.BROKERAGE' | translate}}:
          <span class="float-end">
            {{ brokerageFee | number:'1.2-2' }} {{ 'CURRENCY.MKD' | translate }}
          </span>
        </div>

        <div class="small">
          {{'TRANSACTIONS.CDHV' | translate}}:
          <span class="float-end">
            {{ cdhvFee | number:'1.2-2' }} {{ 'CURRENCY.MKD' | translate }}
          </span>
        </div>

        <div class="fw-bold mt-2 mb-2 d-flex justify-content-between">
          <span>{{'TRANSACTIONS.TOTAL_COMMISSION' | translate}}</span>
          <span>{{ totalCommission | number:'1.2-2' }} {{ 'CURRENCY.MKD' | translate }}</span>
        </div>
      </div>

      <label>{{'DATE' | translate}}</label>
      <input type="date" formControlName="date" class="form-control">

      <label>{{ 'TRANSACTIONS.TOTAL_AMOUNT' | translate }}</label>
      <input type="text" [value]="form.get('amount')?.value | number: '1.2-2'" class="form-control" readonly disabled>

      <div class="form-check mt-2">
        <input class="form-check-input" type="checkbox" formControlName="isReal">
        <label class="form-check-label">{{ 'TRANSACTIONS.REAL_TRANSACTION' | translate }}</label>
      </div>

      <div class="text-end mt-3">
        <button type="button" class="btn btn-secondary me-2" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
        <button type="submit" class="btn btn-success" [disabled]="form.invalid || sellLimitExceeded || buyLimitExceeded || dateSellInvalid">
          {{ (transaction ? 'SAVE_CHANGES' : 'ADD.ACTION_NAME') | translate }}
        </button>
      </div>

      <div *ngIf="form.errors?.backend" class="alert alert-danger mt-2">
        {{ form.errors?.backend }}
      </div>

      <!--<div *ngIf="dateSellInvalid" class="text-danger mt-1">
        {{ 'TRANSACTIONS.OWNED_SHARES_MESSAGE' | translate }} {{ ownedSharesAtDate }} {{ 'SHARES' | translate }}.
      </div>-->
    </form>
  </div>
</div>

