.vs/
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.log
*.pdb
*.ilk
*.obj
*.exe
*.dll
*.cache
*.exp
*.lib
*.ncb
*.opensdf
*.sdf
*.bak
*.ipch
TestResults/
publish/

# Miscellaneous
PriceFlowApp/ClientApp/.angular.cache