<div class="brokers-wrapper" *ngIf="!loading && brokers.length > 0">
  <h3>🏦 {{ 'BROKERS.BROKERAGE' | translate }} {{ 'BROKERS.COMPANIES' | translate }}</h3>
  <table class="brokers-table">
    <thead>
      <tr>
        <th>{{ 'BROKERS.COMPANY' | translate }}</th>
        <th>{{ 'BROKERS.COMMISSION' | translate }} (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of brokers">
        <td>{{ b.company }}</td>
        <td>{{ b.commissionPercent | number:'1.2-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="loading" class="loading">
  {{ 'LOADING' | translate }} {{ 'BROKERS.TITLE' | translate }}...
</div>

<div *ngIf="!loading && brokers.length === 0" class="loading">
  {{ 'BROKERS.NOT_FOUND_MESSAGE' | translate }}.
</div>
