<div class="forgot-password-container">
  <h2>{{ 'RESET' | translate }} {{ 'AUTH.PASSWORD' | translate }}</h2>

  <form *ngIf="!resetToken" (ngSubmit)="sendResetLink()" class="forgot-password-form">
    <div>
      <label for="username">{{ 'AUTH.USERNAME' | translate }}:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <button type="submit" class="forgot-password-btn">{{ 'SEND_LINK' | translate }}</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage | translate }}</div>
  </form>

  <form *ngIf="resetToken" (ngSubmit)="resetPassword()" class="forgot-password-form">
    <div>
      <label for="newPassword">New {{ 'AUTH.PASSWORD' | translate }}:</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
    </div>
    <div>
      <label for="confirmPassword">{{ 'AUTH.CONFIRM_PASSWORD' | translate }}:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required>
    </div>
    <button type="submit" class="forgot-password-btn">{{ 'RESET' | translate }} {{ 'AUTH.PASSWORD' | translate }}</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage | translate }}</div>
  </form>

  <p class="register-link">
    <a [routerLink]="['/login']">{{ 'BACK_TO' | translate }} {{ 'AUTH.LOGIN' | translate }}</a>
  </p>
</div>
