<div class="top-performers" *ngIf="!loading">
  <div class="performer-table">
    <h4><i class="bi bi-graph-up-arrow text-success"></i> {{ 'MARKET_OVERVIEW.TOP_GAINERS' | translate }}</h4>
    <table *ngIf="topGainers.length > 0; else noGainers">
      <thead>
        <tr><th>{{ 'SECURITIES.CODE' | translate }}</th><th>% {{ 'MARKET_OVERVIEW.CHANGE' | translate }}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of topGainers">
          <td>{{ s.securityCode }}</td>
          <td class="positive">+{{ s.changePercent | number:'1.2-2' }}%</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noGainers>
      <div class="empty-state">
        {{ 'MARKET_OVERVIEW.NO_GAINERS' | translate }}
      </div>
    </ng-template>
  </div>

  <div class="performer-table">
    <h4><i class="bi bi-graph-down-arrow text-danger"></i> {{ 'MARKET_OVERVIEW.TOP_LOSERS' | translate }}</h4>
    <table *ngIf="topLosers.length > 0; else noLosers">
      <thead>
        <tr><th>{{ 'SECURITIES.CODE' | translate }}</th><th>% {{ 'MARKET_OVERVIEW.CHANGE' | translate }}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of topLosers">
          <td>{{ s.securityCode }}</td>
          <td class="negative">{{ s.changePercent | number:'1.2-2' }}%</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noLosers>
      <div class="empty-state">
        {{ 'MARKET_OVERVIEW.NO_LOSERS' | translate }}
      </div>
    </ng-template>
  </div>

  <div class="performer-table">
    <h4><i class="bi bi-cash-coin text-warning"></i> {{ 'MARKET_OVERVIEW.MOST_TRADED' | translate }}</h4>
    <table>
      <thead>
        <tr><th>{{ 'SECURITIES.CODE' | translate }}</th><th>{{ 'MARKET_OVERVIEW.VOLUME' | translate }}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of mostTraded">
          <td>{{ s.securityCode }}</td>
          <td>{{ s.volume | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="loading" class="loading">{{ 'LOADING' | translate }} {{ 'MARKET_OVERVIEW.PERFORMANCE' | translate }}...</div>
