<div class="notification-dropdown shadow show">
  <div *ngIf="notifications.length === 0"
       class="dropdown-item text-muted text-center">
    {{ 'NO_NOTIFICATIONS' | translate }}
  </div>
  <div *ngFor="let n of notifications"
       class="dropdown-item"
       [class.unread]="!n.isRead"
       [class.read]="n.isRead">
    <div class="small fw-bold percent">
      {{ n.changePercent }} %
    </div>
    <div class="small notification-message">
      {{ n.message }}
    </div>
    <div class="small notification-date">
      {{ n.tradingDate | date: 'short'}}
    </div>
    <button *ngIf="!n.isRead"
            class="btn btn-sm btn-primary mt-1"
            (click)="onMarkAsRead(n.id)">
      {{ 'MARK_AS_READ' | translate }}
    </button>
  </div>
</div>
