<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom-dark border-bottom">
    <div class="container position-relative">
      <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <img src="../../assets/smlogo.png" alt="PriceFlow Logo" class="logo">
        <span class="ms-3 text-white fw-bold" style="font-size: 1.6rem; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);">
          PriceFlow
        </span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-4 me-auto">
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link text-white fw-bold"
               routerLink="/admin/users"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{ exact: true }">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold"
               routerLink="/securities"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{ exact: true }">Securities</a>
          </li>
          <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link text-white fw-bold"
               routerLink="/admin/brokers"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{ exact: true }">Brokers</a>
          </li>
          <li *ngIf="(loginService.isLoggedIn() | async) && (loginService.isInvestor() | async)" class="nav-item">
            <a class="nav-link text-white fw-bold"
               routerLink="/portfolios"
               routerLinkActive="active-link">My Portfolios</a>
          </li>

          <li *ngIf="(loginService.isLoggedIn() | async) && (loginService.isInvestor() | async)" class="nav-item">
            <a class="nav-link text-white fw-bold"
               routerLink="/price-alerts"
               routerLinkActive="active-link">Price Alerts</a>
          </li>

          <li *ngIf="(loginService.isLoggedIn() | async) && (loginService.isAnalyst() | async)" class="nav-item">
            <a class="nav-link text-white fw-bold"
               routerLink="/security-filter"
               routerLinkActive="active-link">Market Dashboard</a>
          </li>
        </ul>

        <div class="d-flex align-items-center justify-content-end position-relative">
          <div *ngIf="successMessage" class="success-toast">
            {{ successMessage }}
          </div>

          <div class="language-switch-container">
            <label class="language-switch">
              <input type="checkbox" id="languageToggle" (change)="toggleLanguage()">
              <span class="language-slider"></span>
            </label>
          </div>

          <div *ngIf="!(loginService.isLoggedIn() | async)" class="d-flex align-items-center">
            <button (click)="openLoginModal()" class="btn btn-primary ms-3 login">LOGIN</button>
          </div>

          <div *ngIf="(loginService.isLoggedIn() | async)" class="d-flex align-items-center">
            <div class="text-white me-3" style="font-size: 1.2rem; padding: 0.5rem 1rem;">
              Welcome, {{ (loginService.getUsername() | async) || 'User' }}!
            </div>

             <app-price-change-notifications *ngIf="(loginService.isLoggedIn() | async) && (loginService.isInvestor() | async)"></app-price-change-notifications>

            <button (click)="loginService.logout();$event.stopPropagation()" class="btn btn-secondary ms-3 login">
              LOGOUT
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
