<div class="notification-wrapper position-relative">
  <div class="bell-icon" (click)="toggleDropdown()">
    🔔
    <span *ngIf="unreadCount > 0" class="badge bg-danger position-absolute top-0 start-100 translate-middle rounded-pill">
      {{ unreadCount }}
    </span>
  </div>

  <app-price-change-notifications-dropdown *ngIf="showDropdown"
                             [notifications]="notifications"
                             (markRead)="markAsRead($event)">
  </app-price-change-notifications-dropdown>
</div>
