<div class="modal-overlay">
  <div class="modal-content">
    <h4>
      {{ (thresholdToEdit ? 'EDIT.ACTION_NAME' : 'ADD.ACTION_NAME') | translate }} {{ 'THRESHOLDS' | translate }}
      {{ 'FOR' | translate }} {{ 'NAV.PRICE_ALERTS' | translate }}
    </h4>

    <form [formGroup]="editForm" (ngSubmit)="saveThreshold()">
      <div class="mb-3">
        <label>{{ 'SECURITIES.TITLE' | translate }}</label>
        <select class="form-select" formControlName="hvId">
          <option [ngValue]="null">
            {{ 'SELECT' | translate }}
            {{ 'SECURITIES.TITLE' | translate }}
          </option>
          <option *ngFor="let s of owned"
                  [value]="s.id"
                  [disabled]="!thresholdToEdit && isSecurityAlreadyUsed(s.id)">
            {{ s.hvCode }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">
          {{ 'LOWER' | translate }}
          {{ 'THRESHOLD.TITLE' | translate }} (%)
        </label>
        <input type="number"
               class="form-control"
               formControlName="lowerThreshold" />
      </div>

      <div class="mb-3">
        <label class="form-label">
          {{ 'UPPER' | translate }}
          {{ 'THRESHOLD.TITLE' | translate }} (%)
        </label>
        <input type="number"
               class="form-control"
               formControlName="upperThreshold" />
      </div>

      <div class="text-end">
        <button type="button" class="btn btn-secondary me-2" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
        <button type="submit" class="btn btn-success" [disabled]="editForm.invalid || invalidThresholdRange">{{ (thresholdToEdit ? 'SAVE_CHANGES' : 'ADD.ACTION_NAME') | translate }}</button>
      </div>

      <div *ngIf="errorMessage" class="error mt-2">{{ errorMessage | translate }}</div>
      <div *ngIf="successMessage" class="success-message mt-2">{{ successMessage | translate }}</div>

    </form>
  </div>
</div>
