<div class="container mt-4">

  <div class="card p-4 shadow-sm">

    <h5 class="mb-3">
      {{ (editingId ? 'UPDATE.ACTION_NAME' : 'EDIT.ACTION_NAME') | translate }}
    </h5>

    <div *ngIf="errorMessage"
         class="alert alert-danger">
      {{ errorMessage | translate }}
    </div>

    <form [formGroup]="form">
      <div class="mb-3">
        <label class="form-label">{{ 'SECURITIES.TITLE' | translate }}</label>
          
        <select class="form-select"
                formControlName="hvId">

          <option value="">{{ 'SELECT' | translate }} {{ 'SECURITIES.TITLE' | translate }}</option>

          <option *ngFor="let s of owned"
                  [value]="s.id"
                  [disabled]="isSecurityAlreadyUsed(s.id) && editingId === null">
            {{ s.hvCode }}
          </option>

        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">{{ 'LOWER' | translate }} {{ 'THRESHOLD' | translate }} (%)</label>
        <input type="number"
               class="form-control"
               formControlName="lowerThreshold">
      </div>

      <div class="mb-3">
        <label class="form-label">{{ 'UPPER' | translate }} {{ 'THRESHOLD' | translate }} (%)</label>
        <input type="number"
               class="form-control"
               formControlName="upperThreshold">
      </div>

      <button class="btn btn-primary"
              type="button"
              (click)="submit()">
        {{ (editingId ? 'EDIT.ACTION_NAME' : 'ADD.ACTION_NAME') | translate }}
      </button>

      <button *ngIf="editingId"
              class="btn btn-secondary ms-2"
              type="button"
              (click)="resetForm()">
        {{ 'CANCEL' | translate }}
      </button>

    </form>
  </div>

  <hr>

  <div class="card p-4 shadow-sm mt-4">
    <h5>{{ 'PRICE_ALERTS' | translate }}</h5>

    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>{{ 'SECURITIES.CODE' | translate }}</th>
          <th>{{ 'LOWER' | translate }} {{ 'THRESHOLD' | translate }} %</th>
          <th>{{ 'UPPER' | translate }} {{ 'THRESHOLD' | translate }} %</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of thresholds">
          <td>{{ t.hvCode }}</td>
          <td>{{ t.lowerThreshold }}%</td>
          <td>{{ t.upperThreshold }}%</td>
          <td>
            <button class="btn btn-warning btn-sm me-2"
                    (click)="edit(t)">
              {{ 'EDIT.ACTION_NAME' | translate }}
            </button>

            <button class="btn btn-danger btn-sm"
                    (click)="delete(t.id)">
              {{ 'DELETE.ACTION_NAME' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
