<div class="thresholds-container">

  <h4 class="page-title">{{ 'PRICE_ALERTS' | translate }}</h4>

  <div class="mb-4 text-end">
    <button class="btn btn-success"
            (click)="openAddModal()">
      {{ 'ADD.ACTION_NAME' | translate }} {{ 'THRESHOLDS' | translate }}
    </button>
  </div>

  <div *ngIf="successMessage"
       class="success-message mb-2">
    {{ successMessage | translate }}
  </div>
  <div *ngIf="errorMessage"
       class="error-message">
    {{ errorMessage | translate }}
  </div>

  <div class="overflow-x-auto">
    <table class="thresholds-table">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">{{ 'SECURITIES.CODE' | translate }}</th>
          <th class="py-2 px-4 border-b">{{ 'LOWER' | translate }} {{ 'THRESHOLD.TITLE' | translate }} (%)</th>
          <th class="py-2 px-4 border-b">{{ 'UPPER' | translate }} {{ 'THRESHOLD.TITLE' | translate }} (%)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="thresholds.length === 0">
          <td colspan="4" class="text-center">
            {{ 'CHART.NO_DATA_AVAILABLE' | translate }}
          </td>
        </tr>
        <tr *ngFor="let t of thresholds" class="hover:bg-gray-50">
          <td class="py-2 px-4 border-b">{{ t.hvCode }}</td>
          <td class="py-2 px-4 border-b">{{ t.lowerThreshold }}</td>
          <td class="py-2 px-4 border-b">{{ t.upperThreshold }}</td>
          <td class="py-2 px-4 border-b">
            <button class="btn btn-warning me-3"
                    (click)="openEditModal(t)">
              {{ 'EDIT.ACTION_NAME' | translate }}
            </button>

            <button class="btn btn-danger"
                    (click)="openDeleteModal(t)">
              {{ 'DELETE.ACTION_NAME' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p class="mt-4 text-center">
  <a [routerLink]="['/']" class="page-link">{{ 'BACK_TO' | translate }} {{ 'HOME.TITLE' | translate }}</a>
</p>

<app-threshold-form *ngIf="showEditModal"
                    [thresholdToEdit]="thresholdToEdit"
                    [owned]="owned"
                    [existingThresholds]="thresholds"
                    (saved)="onSaved()"
                    (close)="onEditModalClose()">
</app-threshold-form>

<div *ngIf="showDeleteModal" class="modal-overlay">
  <div class="modal-content animate-in">
    <h3>{{ 'DELETE.CONFIRM' | translate }}</h3>
    <p>{{ 'DELETE.DELETE_THRESHOLD_MESSAGE' | translate }} <strong>{{ thresholdToDelete?.hvCode }}</strong>?</p>

    <div class="modal-actions">
      <button class="btn btn-secondary" (click)="closeDeleteModal()">{{ 'CANCEL' | translate }}</button>
      <button class="btn btn-danger" (click)="confirmDelete()">{{ 'DELETE.ACTION_NAME' | translate }}</button>
    </div>
  </div>
</div>
