<div class="securities-section">
  <h2 class="text-center mt-4">{{ 'SECURITIES.TITLE' | translate }}</h2>

  <div class="text-md-end mb-3" *ngIf="isAdmin">
    <button class="btn btn-success" (click)="openAddModal()">{{ 'ADD.ACTION_NAME' | translate }} {{ 'SECURITIES.TITLE' | translate }}</button>
  </div>

  <div class="search-panel mb-3">
    <div class="search-input-wrapper">
      <input type="text"
             placeholder="{{ 'SEARCH' | translate }} {{ 'BY' | translate }} {{ 'SECURITIES.CODE' | translate }}..."
             [(ngModel)]="searchTerm"
             (input)="onSearch()" />
      <button *ngIf="searchTerm"
              class="clear-btn"
              (click)="clearSearch()">
        {{ 'CLEAR' | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="securities.length > 0; else noData">
    <table>
      <thead>
        <tr>
          <th>{{ 'SECURITIES.CODE' | translate }} </th>
          <th>{{ 'SECURITIES.ISIN' | translate }} </th>
          <th>{{ 'SECURITIES.TYPE' | translate }} </th>
          <th>{{ 'SECURITIES.ISSUER' | translate }} </th>
          <th>{{ 'SECURITIES.TOTAL_SHARES' | translate }} </th>
          <th *ngIf="isAdmin">{{ 'ACTIONS' | translate }} </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sec of securities">
          <td>{{ sec.code }}</td>
          <td>{{ sec.isin }}</td>
          <td>{{ sec.typeSecurityName | dbTranslate | translate }}</td>
          <td>{{ sec.issuerName | issuersTranslate | translate }}</td>
          <td>{{ sec.totalNumShares | number }}</td>
          <td *ngIf="isAdmin">
            <button class="btn btn-warning" (click)="openEditModal(sec)">{{ 'EDIT.ACTION_NAME' | translate }} </button>
            <button class="btn btn-danger" (click)="openDeleteModal(sec)">{{ 'DELETE.ACTION_NAME' | translate }} </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="mt-4 text-center">
      <a [routerLink]="['/']" class="page-link">{{ 'BACK_TO' | translate }} {{ 'HOME.TITLE' | translate }}</a>
    </p>
  </div>

  <ng-template #noData>
    <p class="text-center mt-3">{{ 'NO_SECURITIES_DATA_AVAILABLE' | translate }}</p>
  </ng-template>
</div>

<app-security-form *ngIf="showEditModal"
                  [securityToEdit]="securityToEdit"
                  (close)="onModalClose($event)">
</app-security-form>

<div *ngIf="showDeleteModal" class="modal-overlay">
  <div class="modal-content animate-in">
    <h3>{{ 'DELETE.CONFIRM' | translate }} </h3>
    <p>
      {{ 'DELETE.DELETE_SECURITY_MESSAGE' | translate }} {{ 'WITH' | translate }} {{ 'SECURITIES.CODE' | translate }}
      <strong>{{ securityToDelete?.code }}</strong>?
    </p>
    <div class="modal-actions">
      <button class="btn btn-secondary" (click)="closeDeleteModal()">{{ 'CANCEL' | translate }} </button>
      <button class="btn btn-danger" (click)="confirmDelete()">{{ 'DELETE.ACTION_NAME' | translate }} </button>
    </div>
  </div>
</div>
