<div class="modal-overlay">
  <div class="modal-content">
    <h4>{{ 'EDIT.ACTION_NAME' | translate }} {{ 'USERS.USER' | translate }}</h4>
    <form [formGroup]="editForm" (ngSubmit)="saveUser()">

      <div class="mb-3">
        <label>{{ 'USERS.NAME' | translate }}</label>
        <input class="form-control" formControlName="name">
        <div *ngIf="editForm.get('name')?.touched && editForm.get('name')?.invalid" class="text-red-700 mt-1">
          <div *ngIf="editForm.get('name')?.errors?.['required']" class="error">
            {{ 'AUTH.FIELD_REQUIRED' | translate }}
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label>{{ 'USERS.USERNAME' | translate }}</label>
        <input class="form-control" formControlName="username">
        <div *ngIf="editForm.get('username')?.touched && editForm.get('username')?.invalid" class="text-red-700 mt-1">
          <div *ngIf="editForm.get('username')?.errors?.['required']" class="error">
            {{ 'AUTH.FIELD_REQUIRED' | translate }}
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label>{{ 'USERS.EMAIL' | translate }}</label>
        <input type="email" class="form-control" formControlName="email">

        <div *ngIf="editForm.get('email')?.touched && editForm.get('email')?.invalid" class="text-red-700 mt-1">
          <div *ngIf="editForm.get('email')?.errors?.['required']" class="error">
            {{ 'AUTH.FIELD_REQUIRED' | translate }}
          </div>
          <div *ngIf="editForm.get('email')?.errors?.['email']" class="error">
            {{ 'AUTH.INVALID_EMAIL' | translate }}
          </div>
        </div>
      </div>

      <div class="text-end">
        <button type="button" class="btn btn-secondary me-2" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
        <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">{{ 'SAVE_CHANGES' | translate }}</button>
      </div>

      <div *ngIf="errorMessage" class="error mt-2">{{ errorMessage | translate }}</div>
      <div *ngIf="successMessage" class="success-message mt-2">{{ successMessage | translate }}</div>
    </form>
  </div>
</div>
