<div class="page-wrapper" *ngIf="selectedPortfolio">

  <div class="header-row">
    <h2>📊 {{ selectedPortfolio.name }}</h2>
  </div>

  <div class="top-row">
    <div class="transactions-section">
      <app-transactions [portfolioId]="selectedPortfolio.id"></app-transactions>
    </div>
  </div>

  <div class="bottom-row">
      <div class="export-section">
        <app-performance-export [portfolioId]="selectedPortfolio.id"></app-performance-export>
      </div>
      <div class="notifications-section">
        <app-portfolio-notifications [portfolioId]="selectedPortfolio.id"></app-portfolio-notifications>
      </div>     
    </div>
</div>
