<div class="charts-container">

  <div class="chart-section">
    <div class="filters">
      <h3>&#x1F4C8; {{ 'CHART.PRICE_TREND' | translate }}</h3>

      <label>{{ 'SECURITIES.TITLE' | translate }}:</label>
      <select [(ngModel)]="selectedSecurityId">
        <option *ngFor="let s of securities" [value]="s.id">{{ s.code }}</option>
      </select>

      <label>{{ 'CHART.START' | translate }} {{ 'CHART.DATE' | translate }}:</label>
      <input type="date" [(ngModel)]="startDate" />

      <label>{{ 'CHART.END' | translate }} {{ 'CHART.DATE' | translate }}:</label>
      <input type="date" [(ngModel)]="endDate" />

      <button (click)="onFilterChange()">{{ 'CHART.APPLY' | translate }} {{ 'CHART.FILTERS' | translate }}</button>
    </div>

    <app-price-trend [securityId]="selectedSecurityId"
                     [startDate]="startDate"
                     [endDate]="endDate">
    </app-price-trend>
  </div>

  <div class="chart-section">
    <div class="filters">
      <h3>&#x1F3E2; {{ 'CHART.SECTOR_DISTRIBUTION' | translate }}</h3>

      <label>{{ 'CHART.DATE' | translate }}:</label>
      <input type="date" [(ngModel)]="sectorDate" />

      <button (click)="onFilterChange()">{{ 'CHART.APPLY' | translate }} {{ 'CHART.FILTERS' | translate }}</button>
    </div>

    <app-sector-distribution [date]="sectorDate"></app-sector-distribution>
  </div>

</div>
