<div class="brokers-container">
  <h2 class="page-title">{{ 'ADMIN.MANAGE' | translate }} {{ 'BROKERS.TITLE' | translate }}</h2>

  <div *ngIf="successMessage" class="success-message mb-2">{{ successMessage | translate }}</div>
  <div *ngIf="errorMessage" class="error-message mt-2">
    <p>{{ errorMessage | translate }}</p>
  </div>

  <div class="mb-4 text-end">
    <button class="btn btn-success"
            (click)="openAddModal()">
      {{ 'ADD.ACTION_NAME' | translate }} {{ 'BROKERS.BROKER' | translate }}
    </button>
  </div>

  <div class="overflow-x-auto">
    <table class="brokers-table">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b">{{ 'BROKERS.COMPANY' | translate }}</th>
          <th class="py-2 px-4 border-b">{{ 'BROKERS.COMMISSION' | translate }} (%)</th>
          <th class="py-2 px-4 border-b">{{ 'ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let broker of brokers" class="hover:bg-gray-50">
          <td class="py-2 px-4 border-b">{{ broker.company | brokersTranslate | translate }}</td>
          <td class="py-2 px-4 border-b">{{ broker.commissionPercent }}</td>
          <td class="py-2 px-4 border-b">
            <button class="btn btn-warning me-3" (click)="openEditModal(broker)">{{ 'EDIT.ACTION_NAME' | translate }}</button>
            <button class="btn btn-danger" (click)="openDeleteModal(broker)">{{ 'DELETE.ACTION_NAME' | translate }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p class="mt-4 text-center">
  <a [routerLink]="['/']" class="page-link">{{ 'BACK_TO' | translate }} {{ 'HOME.TITLE' | translate }}</a>
</p>

<app-broker-form *ngIf="showEditModal"
                 [brokerToEdit]="brokerToEdit!"
                 (close)="onEditModalClose($event)">
</app-broker-form>

<div *ngIf="showDeleteModal" class="modal-overlay">
  <div class="modal-content animate-in">
    <h3>{{ 'DELETE.CONFIRM' | translate }}</h3>
    <p>{{ 'DELETE.DELETE_BROKER_MESSAGE' | translate }} <strong>{{ brokerToDelete?.company | brokersTranslate | translate }}</strong>?</p>
    <div class="modal-actions">
      <button class="btn btn-secondary" (click)="closeDeleteModal()">{{ 'CANCEL' | translate }}</button>
      <button class="btn btn-danger" (click)="confirmDelete()">{{ 'DELETE.ACTION_NAME' | translate }}</button>
    </div>
  </div>
</div>
