<div class="hero-section">
  <h1>{{'HOME.WELCOME_TO' | translate }} PriceFlow</h1>
  <p>{{'HOME.DESCRIPTION' | translate }}</p>
  <button class="get-started-btn" (click)="onGetStarted()">{{'HOME.GET_STARTED' | translate }}</button>
</div>

<app-brokers *ngIf="(loginService.isInvestor() | async)"></app-brokers>

<app-market-overview></app-market-overview>
<app-top-performers></app-top-performers>

<app-liquidity *ngIf="(loginService.isInvestor() | async)"></app-liquidity>

<app-securities-price-trend *ngIf="(loginService.isInvestor() | async)"></app-securities-price-trend>

<app-chart></app-chart>

<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <h3>PriceFlow</h3>
      <p>{{'FOOTER.DESCRIPTION' | translate}}</p>
    </div>

    <div class="footer-center">
      <h4>{{ 'FOOTER.LINKS' | translate }}</h4>
      <ul>
        <!--<li><a routerLink="/"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{ exact: true }">
            {{ 'FOOTER.HOME_LINK' | translate }}
            </a>
        </li>-->
        <li>
          <a routerLink="/securities"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }">
            {{ 'FOOTER.SECURITIES_LINK' | translate }}
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-right">
      <h4>{{'FOOTER.CONTACT' | translate }}</h4>
      <p>{{ 'FOOTER.EMAIL' | translate }}: <a href="mailto:support@priceflow.com">support&#64;priceflow.com</a></p>
      <p>{{ 'FOOTER.PHONE_NUMBER' | translate }}: 123 456 789</p>
      <p>{{ 'FOOTER.LOCATION' | translate }}</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p class="disclaimer">
      {{ 'FOOTER.DISCLAIMER' | translate }}
    </p>
    <p>© 2025 PriceFlow. {{ 'FOOTER.ALL_RIGHTS_RESERVED' | translate }}.</p>
  </div>
</footer>
