<div class="card" *ngIf="securities.length">
  <div class="card-header">
    <h5>{{ 'PRICE_TREND.TITLE' | translate }} ({{ 'PRICE_TREND.OWNED' | translate }} {{ 'SECURITIES.TITLE' | translate }} )</h5>

    <select class="form-select mt-2"
            [(ngModel)]="selectedSecurity"
            (change)="onSecurityChange()">
      <option [ngValue]="undefined">{{ 'ALL' | translate }} {{ 'SECURITIES.TITLE' | translate }} </option>
      <option *ngFor="let s of securities" [value]="s">
        {{ s }}
      </option>
    </select>
    <select class="form-select mt-2"
            [(ngModel)]="selectedPeriod" (change)="loadData()">
      <option value="Monthly">{{ 'MONTHLY' | translate }} </option>
      <option value="Yearly">{{ 'YEARLY' | translate }} </option>
    </select>
  </div>

  <div class="card-body">
    <canvas baseChart
            [data]="chartData"
            [options]="chartOptions"
            chartType="line">
    </canvas>
  </div>
</div>


