<div class="card" *ngIf="securities.length">
  <div class="card-header">
    <h5>{{ 'PRICE_TREND.TITLE' | translate }} ({{ 'PRICE_TREND.OWNED' | translate }} {{ 'SECURITIES.TITLE' | translate }})</h5>

    <select class="form-select mt-2"
            [(ngModel)]="selectedSecurity"
            (change)="onSecurityChange()">
      <option [ngValue]="undefined">{{ 'ALL' | translate }} {{ 'SECURITIES.TITLE' | translate }} </option>
      <option *ngFor="let s of securities" [value]="s">
        {{ s }}
      </option>
    </select>
    <label>{{ 'PERIOD' | translate }}</label>
    <select class="form-select mt-1"
            [(ngModel)]="selectedPeriod" (change)="onPeriodChange()">
      <option value="Monthly">{{ 'MONTHLY' | translate }} </option>
      <option value="Yearly">{{ 'YEARLY' | translate }} </option>
    </select>
    <label>{{ 'RESOLUTION' | translate }}</label>
    <select class="form-select mt-1"
            [(ngModel)]="selectedResolution" (change)="onResolutionChange()">
      <option *ngFor="let r of availableResolutions" [value]="r.value">{{ r.label }} </option>
    </select>
  </div>

  <div class="card-body">
    <canvas baseChart
            [data]="chartData"
            [options]="chartOptions"
            chartType="line">
    </canvas>
    <div class="reset-btn">
      <button (click)="resetZoom()">
        {{ 'RESET_ZOOM' | translate }}
      </button>
    </div>
  </div>
  <button class="btn btn-outline-primary" (click)="downloadPDF()">
    <i class="bi bi-file-earmark-pdf"></i>
    PDF {{ 'REPORT' | translate }}
  </button>
</div>
